@import "../quasar-variables.sass";

#app {
  .logo {
    display: flex;
    margin-right: -12px;
    width: 16em;
    height: 50px;
    background: white;

    .q-img {
      margin: 0 4em;
      width: 8em;
    }

    .primary-skew {
      margin-left: -3em;

      width: 4em;
      height: 100%;
      background: $primary;
      transform: skewX(-25deg);
    }

    .secondary-skew {
      width: 1em;
      height: 100%;
      transform: skewX(-25deg);
      background: lighten($secondary, 20%);
    }
  }
}